@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona-Sans';
  src:
    url('../assets/fonts/Mona-Sans-Black.woff2'),
    url('../assets/fonts/Mona-Sans-Bold.woff2'),
    url('../assets/fonts/Mona-Sans-ExtraBold.woff2'),
    url('../assets/fonts/Mona-Sans-SemiBold.woff2'),
    url('../assets/fonts/Mona-Sans-Regular.woff2');
  font-weight: 900 700 800 600 400;
  font-stretch: 75% 125%;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.post-background-header {
  background-color: #0B0F14;
  height: 85vh;
}

h1 {
  color: #DBDBDB;
  font-size: 76px;
  line-height: 76px;
  font-weight: 800;
  width: 700px;
}

h3 {
  font-size: 48px !important;
  line-height: 52px !important;
  letter-spacing: -.03em !important;
  font-weight: 800;
  color: #1D2126;
}

h4 {
  font-size: 32px !important;
  line-height: 36px !important;
  letter-spacing: -.03em !important;
  font-weight: 800;
  color: #1D2126;
}

p {
  color: #DBDBDB;
  font-size: 20px;
  font-weight: 400;
}

.post-content {
  background-color: #e6e6e6;
  color: #252424;
  max-width: 750px;
  font-size: 20px;
  line-height: 32px;
}

.post-content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
}

.border-top {
  color: #24292f;
  border-top: 1px solid;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sub-text {
  font-size: 16px;
  line-height: 24px;
}

.container-xl {
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 1280px;
  box-sizing: border-box;
  margin-top: 48px;
}

.blog-taste-text{
  font-size: 18px;
  color: #57606a;
  line-height: 24px;
}