@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona-Sans';
  src:
    url('../assets/fonts/Mona-Sans-Black.woff2'),
    url('../assets/fonts/Mona-Sans-Bold.woff2'),
    url('../assets/fonts/Mona-Sans-ExtraBold.woff2'),
    url('../assets/fonts/Mona-Sans-SemiBold.woff2'),
    url('../assets/fonts/Mona-Sans-Regular.woff2');
  font-weight: 900 700 800 600 400;
  font-stretch: 75% 125%;
}

.post-background-header {
  background-color: #0B0F14;
  height: 85vh;
}

h1 {
  color: #DBDBDB;
  font-size: 76px;
  line-height: 76px;
  font-weight: 800;
  width: 700px;
}

h2 {
  font-size: 48px !important;
  line-height: 52px !important;
  letter-spacing: -.03em !important;
  font-weight: 800;
  color: #1D2126;
}

h3 {
  font-size: 28px !important;
  line-height: 32px !important;
  letter-spacing: -.03em !important;
  font-weight: 800;
  color: #1D2126;
}

h4 {
  font-size: 34px !important;
  line-height: 38px !important;
  letter-spacing: -.03em !important;
  font-weight: 800;
  color: #1D2126;
}

.post-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 32px;
}

p {
  color: #252424;
}

.post-content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
}

.border-top {
  color: #24292f;
  border-top: 1px solid;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sub-text {
  font-size: 16px;
  line-height: 24px;
}

.container-xl {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 1280px;
  box-sizing: border-box;
}

.blog-taste-text {
  font-size: 18px;
  color: #57606a;
  line-height: 24px;
}

.post-description {
  font-size: 18px !important;
  line-height: 24px;
  color: #adbac7 !important;
}

h3 {
  font-size: 28px !important;
  line-height: 32px !important;
  margin-bottom: 15px;
}